#topbar{
    background-image: url("https://i2.wp.com/movingtips.wpengine.com/wp-content/uploads/2019/07/new-york2.jpg?fit=1024%2C684&ssl=1");
    background-size: cover;
    background-attachment:  fixed;
    height: 700px;
    
}
#smallview{
    background-image: url("https://i2.wp.com/movingtips.wpengine.com/wp-content/uploads/2019/07/new-york2.jpg?fit=1024%2C684&ssl=1");
    background-size: cover;
    background-attachment:  fixed;
    height: 700px;
    
}
#contact{
    background-image: url("https://i2.wp.com/movingtips.wpengine.com/wp-content/uploads/2019/07/new-york2.jpg?fit=1024%2C684&ssl=1");
    background-size: cover;
    background-attachment:  fixed;
    height: 700px;
    
}
#blacklight{
    background-color: black;
    opacity: 0.8;
    
}
#im1{
    margin-top: 70px;
}

.navbar{
    background-color: #006622;
}
#links{
    color: white;
    font-size: 20px;
    margin-right: 20px;
}
#links:hover{
    color: yellow;
}
@media screen and (min-width: 480px) {
    #topbarheader{
        position: relative;
        top: 200px;
        left: 100px;
        font-size: 80px;
        z-index: 100;
        color: white;
    }
    #topbar1{
        position: relative;
        top: 240px;
        font-size: 30px;
        color: white;
        left: 100px;
        z-index: 100;
        border-left: 4px solid yellow;
        padding-left: 10px;
    }
    
    #bla{
        margin-left: 300px;
    }
    .carousel-caption{
        margin-bottom:50px ;
        margin-left: 200px;
    }
    #c1{
        font-size: 40px;
        font-weight: bold;
        color: #006622;
        
    }
    #c2{
        font-size: 20px;
        
        color: gray;
    }
    #c3{
        color: orange;border-left: 4px solid green; padding-left: 10px;
    }
  }
 
  @media screen and (max-width: 480px) {
    #topbarheader{
        position: relative;
        top: 160px;
        
        z-index: 100;
        color: white;
    }
    #topbar1{
        position: relative;
        top: 180px;
        
        color: white;
        z-index: 100;
        border-left: 4px solid yellow;
        padding-left: 15px;
    }
    #bla{
        margin-left: 20px;
    }
    #cap1{
        color: black;
    }
    #c1{
        font-size: 40px;
        font-weight: bold;
        color: #006622;
        
    }
    #c2{
        font-size: 20px;
        
        color: gray;
    }
    #c3{
        color: orange;
    }
    
    #smallview
    {
        height: 300px;
    }
  }
  #carousel-example-2
  {
      background-color: black;
  }
 .card img{
     height: 250px;
 }
 #work .col-sm-3{
          margin-bottom:10px ;
 }
 #about li{
     font-size: 15px;
     color: #006622;
     font-weight: bold;
 }
 
  #exp .card:hover{
      background-color:green;
      color:white;
      transition: transform .2s;
      transform: scale(1.2);
      z-index: 100;
  }
 